#home {
    width: 100%;
    height: 100vh;
    background-image: url(../../images/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .arrowContainer {
        display: flex;
        margin: auto;
        width: 50px;
        translate: 0 -220%;
        .arrowToScrollDown {
            border-left: 5px solid white;
            border-bottom: 5px solid white;
            rotate: -45deg;
            width: 45px;
            height: 45px;
            transition: 0.3s;
        }
        .arrowToScrollDownText {
            position: absolute;
            opacity: 0;
            transition: 0.3s;
            width: 118px;
            translate: -30% 0;
        }
        &:hover {
            .arrowToScrollDown {
                transition: 0.3s;
                scale: 1.1;
                translate: 0 -40px;
            }

            .arrowToScrollDownText {
                width: 118px;
                position: absolute;
                transition: 0.5s;
                color: white;
                display: flex;
                translate: -30% 30px;
                opacity: 1;
                font-weight: 500;

            }
        }

    }

    .mainContent {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.314);

        .line-1 {
            color: white;
            margin: 0 auto;
            border-right: 2px solid rgb(255, 255, 255);
            font-size: calc(1em + 3vw);
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            transform: translateY(-50%);
        }

        /* Animation */
        .anim-typewriter-EN {
            animation: typewriter-EN 1.5s steps(19) 0.2s 1 normal both,
                blink-caret .5s step-end infinite;
        }

        @keyframes typewriter-EN {
            from {
                width: 0;
            }

            to {
                width: 8em;
            }
        }
        .anim-typewriter-ES {
            animation: typewriter-ES 1.5s steps(21) 0.2s 1 normal both,
                blink-caret .5s step-end infinite;
        }

        @keyframes typewriter-ES {
            from {
                width: 0;
            }

            to {
                width: 9.3em;
            }
        }


        .line-2 {
            color: white;
            margin: 0 auto;
            border-right: 2px solid rgb(255, 255, 255);
            font-size: calc(1em + 3vw);
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            transform: translateY(-50%);
            font-weight: 700;
        }

        /* Animation */
        .anim-typewriter2 {
            animation: typewriter2 3s steps(21) 0.1s 1 normal both,
                blink-caret .5s step-end 0.2s infinite;
        }

        @keyframes typewriter2 {
            0% {
                width: 0;
            }

            40% {
                width: 0;
            }

            100% {
                width: 10.2em;
            }
        }

        @keyframes blink-caret {

            from,
            to {
                border-color: transparent
            }

            50% {
                border-color: rgb(255, 255, 255);
            }
        }

        .navbarIcons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: calc(-10px + -1vw);

            a {
                color: white;
                text-shadow: 0 0 12px black;
                margin: 0 10px;

                i {
                    font-size: calc(1em + 3vw);
                }
            }
        }

        .popIcon {
            transition: 0.3s;

            &:hover {
                scale: 1.1;
                transition: 0.3s;
            }
        }

        .pop1 {
            animation: dontShow 3.3s linear 1,
                pulse 0.3s 3.1s linear 1;
        }

        .pop2 {
            animation: dontShow 3.6s linear 1,
                pulse 0.3s 3.4s linear 1;
        }

        .pop3 {
            animation: dontShow 3.9s linear 1,
                pulse 0.3s 3.7s linear 1;
        }

        @keyframes dontShow {
            0% {
                opacity: 0;
            }

            95% {
                opacity: 0;
            }

            98% {
                opacity: 0.5;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes pulse {
            25% {
                transform: scale(0.8);
            }

            75% {
                transform: scale(1.2);
            }
        }
    }
}
@media (max-width: 670px) {
    .arrowContainer{
        translate: 0 -320% ! important;
    }
}