#home {
    width: 100%;
    height: 100vh;

    .bg-img {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: -1;
        background-image: url(../../images/wallpaper.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(2px) brightness(80%);
    }

    .arrowContainer {
        cursor: pointer;
        display: flex;
        margin: auto;
        width: 50px;
        translate: 0 -220%;

        .arrowToScrollDown {
            border-left: 5px solid white;
            border-bottom: 5px solid white;
            rotate: -45deg;
            width: 45px;
            height: 45px;
            transition: 0.3s;
        }

        .arrowToScrollDownText {
            position: absolute;
            opacity: 0;
            transition: 0.3s;
            width: 118px;
            translate: -30% 0;
        }

        &:hover {
            .arrowToScrollDown {
                transition: 0.3s;
                scale: 1.1;

            }

            .arrowToScrollDownText {
                width: 118px;
                position: absolute;
                transition: 0.5s;
                color: white;
                display: flex;
                translate: -30% 20px;
                opacity: 1;
                font-weight: 500;

            }
        }

    }

    .mainContent {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .line-1 {
            color: white;
            margin: 0 auto;
            border-right: 2px solid rgb(255, 255, 255);
            font-size: calc(1em + 3vw);
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            transform: translateY(-50%);
            text-shadow: 3px 3px 0 black;
        }

        /* Animation */
        .anim-typewriter-EN {
            animation: typewriter-EN 1.5s steps(19) 0.2s 1 normal both,
                blink-caret .5s step-end infinite;
        }

        @keyframes typewriter-EN {
            from {
                width: 0;
            }

            to {
                width: 8em;
            }
        }

        .anim-typewriter-ES {
            animation: typewriter-ES 1.5s steps(21) 0.2s 1 normal both,
                blink-caret .5s step-end infinite;
        }

        @keyframes typewriter-ES {
            from {
                width: 0;
            }

            to {
                width: 9.3em;
            }
        }


        .line-2 {

            color: rgb(113, 222, 255);
            margin: 0 auto;
            border-right: 2px solid rgb(113, 222, 255);
            font-size: calc(1em + 3vw);
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            transform: translateY(-50%);
            font-weight: 700;
            text-shadow: 3px 3px 0 black;
        }

        /* Animation */
        .anim-typewriter2 {
            animation: typewriter2 2s steps(21) 0.1s 1 normal both,
                blink-blue-caret .5s step-end 0.2s infinite;
        }

        @keyframes typewriter2 {
            0% {
                width: 0;
            }

            40% {
                width: 0;
            }

            100% {
                width: 9.2em;
            }
        }

        @keyframes blink-caret {

            from,
            to {
                border-color: transparent
            }

            50% {
                border-color: rgb(255, 255, 255);
            }
        }

        @keyframes blink-blue-caret {

            from,
            to {
                border-color: transparent
            }

            50% {
                border-color: rgb(113, 222, 255);
            }
        }

        .navbarIcons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: calc(-10px + -1vw);

            a {
                color: white;
                text-shadow: 0 0 12px black;
                margin: 0 10px;

                i {
                    font-size: 2em;
                }
            }
        }

        .popIcon {
            transition: 0.2s;

            &:hover {
                scale: 1.1;
                transition: 0.1s;
            }
        }

        .pop1 {
            animation: dontShow 2.1s linear 1,
                pulse 0.3s 1.9s linear 1;
        }

        .pop2 {
            animation: dontShow 2.3s linear 1,
                pulse 0.3s 2.1s linear 1;
        }

        .pop3 {
            animation: dontShow 2.5s linear 1,
                pulse 0.3s 2.3s linear 1;
        }

        .centeredDiv {
            translate: 0 20px;
            opacity: 0;
            display: flex;
            justify-content: center;
            margin-top: 5px;
            animation: showCvButton 0.5s ease 2.6s both ;

        }

        @keyframes showCvButton {
            from{
                translate: 0 20px;
                opacity: 0;
            }
            to{
                translate: 0 0;
                opacity: 1;
            }
            
        }
        @keyframes dontShow {
            0% {
                opacity: 0;
            }

            95% {
                opacity: 0;
            }

            98% {
                opacity: 0.5;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes pulse {
            25% {
                transform: scale(0.8);
            }

            75% {
                transform: scale(1.2);
            }
        }
    }
}

@media (max-width: 670px) {
    .arrowContainer {
        translate: 0 -320% ! important;
    }
}