footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(32, 32, 32);
    width: 100%;

    .footerIcons {
        .footerIcon {
            margin: 0 15px;
            margin-top: 1px;
            font-size: 0.8em;
            font-weight: 100;
            a {
                text-decoration: none;
                color: white;
                i{
                    margin-right: 3px;
                }
                &:hover{
                    color: rgb(47, 207, 255);
                }
            }
        }

    }
}
@media (max-width: 722px) {
    .footerIcons {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 10px;
    }
}
@media (min-width: 722px) {
    .footerIcons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
    }
}